body {
    margin: 0 auto;
    background-image: url(../images/memphis-mini.png);
    padding-top: 50px; 
    font-family: 'Press Start 2P', cursive;
}
header {
    background-color: #ffffff;
    border-color: #cccccc;
    margin-left: 160px;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    color: #4aaaa5;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}
p {
    color: #777777;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}
.lead {
    font-size: 14px;
}
#list-header {
    background-color: #4aaaa5;
}
#header-style {
    padding-bottom: 0%;
}
.jumbotron {
    background-image: url(../images/memphis-mini.png);
    margin-bottom: -20px;
}
.form {
    padding-right: 200px
}
.jumbo {
    margin-bottom: -50px;
    padding-top: 20px;
}
.footer {
    padding-top: 75px;
}
.card-img-top {
    width: 538px;
    height: 175px;
}
#contact-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar {
    overflow: visible;
}
#lang-icons {
    height: 30px;
    width: 30px;
}

@media (min-width: 1200px) {
    h1 {font-size:3rem;}
}
@media (min-width: 992px) {
    h1 {font-size:2.5rem;}
    p {font-size:2.5rem;} 
}
@media (min-width: 768px) {
    .lead {
        font-size: 14px;
    }
    .card-title {
        font-size: 14px;
    }
    /* h1 {font-size:2rem;}
    p {font-size:2rem;} */
    .list-group-item {
        font-size: 14px;
    }
}
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;}
    p {font-size:1.5rem} 
}